---
- name: Copy system files
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: '0644'
  loop:
    - { src: '00-sysctl.conf', dest: '/etc/sysctl.d/00-sysctl.conf' }
  when: copy_system_files | default(false) | bool

- name: Apply sysctl configuration immediately
  ansible.builtin.command: sysctl --system
  changed_when: false
  when: copy_system_files | default(false) | bool

- name: configure system settings, file descriptors and number of threads
  community.general.pam_limits:
    domain: '*'
    limit_type: "{{ item.limit_type }}"
    limit_item: "{{ item.limit_item }}"
    value: "{{ item.value }}"
  loop:
    - { limit_type: '-', limit_item: 'nofile', value: unlimited }
    - { limit_type: '-', limit_item: 'nproc', value: unlimited }
    - { limit_type: 'soft', limit_item: 'memlock', value: unlimited }
    - { limit_type: 'hard', limit_item: 'memlock', value: unlimited }
  when: configure_system_limits | default(false) | bool

